<script>
    import { mapGetters } from 'vuex';

    export default {
        data() {
            return {
                form: {}
            }
        },

        computed: {
            ...mapGetters({
                selected_product: 'selected_product',
                submittingProduct: 'submittingProduct'
            })
        },

        watch: {
            selected_product: {
                handler: 'setForm',
                immediate: true
            }
        },

        methods: {
            submit() {
                if(!this.form.supplier_id) {
                    this.form.supplier_id = this.$route.params.id;
                }

                this.$store.commit('SUBMIT_PRODUCT', this.form);
            },

            setForm() {
                this.form = this.selected_product;
            },

            closeModal() {
                this.$store.commit('PRODUCT_MODAL', false);
            }
        }
    }
</script>

<template>
    <div class="">
        <div class="form-group">
            <label for="">Name</label>
            <input type="email" class="form-control" v-model="form.name" placeholder="Enter product name">
        </div>

        <div class="form-group">
            <label for="">Price per item</label>
            <input type="number" class="form-control" v-model="form.amount" placeholder="Enter price per item">
        </div>

        <div class="form-group">
            <label for="">Description</label>

            <el-input
                    type="textarea"
                    autosize
                    placeholder="Enter product description"
                    v-model="form.description">
            </el-input>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" @click="submit">
                    <i class="el-icon-loading" v-if="submittingProduct"></i>
                    Submit
                </button>
            </div>

            <div class="col-md-3">
                <button type="submit" class="btn btn-info" @click="closeModal">Cancel</button>
            </div>
        </div>
    </div>
</template>
