<script>
    import { mapGetters } from 'vuex';
    import ProductTable from './table';

    export default {
        components: {
            ProductTable,
        },

        computed: {
            ...mapGetters({
                productModal: 'productModal'
            })
        },

        methods: {
            createProduct() {
                this.$store.commit('PRODUCT_MODAL', true);
            }
        },

        mounted() {
            this.$store.commit('FETCH_PRODUCTS');
        }
    }
</script>

<template>
    <div class="">

        <div class="page-header">

            <div class="page-header__left">
                <p>PRODUCTS</p>
            </div>

            <div class="page-header__right">
            </div>

        </div>

        <br>

        <div class="">
            <product-table/>
        </div>
    </div>
</template>

<style>
    .supplier-actions {
        text-align: right;
    }
</style>
