<script>
    import { mapGetters } from 'vuex';

    export default {

        computed: {
            ...mapGetters({
                product: 'product'
            })
        },

        mounted() {
            this.$store.commit('FETCH_PRODUCT_DETAILS', this.$route.params.id);
        }
    }
</script>

<template>
    <div class="">
        <div class="">
            <router-link :to="{ name: 'products.index'}" class="btn btn-outline-primary btn-sm"> <i class="el-icon-back"></i> GO BACK</router-link>
        </div>

        <br>

        <div class="row">

            <div class="col-md-12">

                <table class="table">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ product.name }}</td>
                    </tr>

                    <tr>
                        <th>Description</th>
                        <td>{{ product.description }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<style>
    .supplier-details {
        width: 90%;
    }
</style>
