<script>
    import { mapGetters } from 'vuex';
    import * as service from '../../services/Product';
    import { Message } from 'element-ui';

    import ProductForm from '../products/create';

    export default {

        components: {
            ProductForm
        },

        computed: {
            ...mapGetters({
                products: 'products',
                fetchingProducts: 'fetchingProducts',
                productModal: 'productModal'
            })
        },

        methods: {
            show(id) {
                this.$router.push({ name: 'products.show', params: { id: id } });
            },

            edit(id) {

                this.$store.commit('SET_SELECTED_PRODUCT', id);

                this.$store.commit('PRODUCT_MODAL', true);
            },

            deleteProduct(id) {

                this.$confirm('This will permanently delete the product. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {

                    service.deleteProduct(id)
                        .then( () => {
                            Message.success({ message: 'Product deleted successfully!'});
                            this.$store.commit('FETCH_PRODUCTS');
                        })

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Delete canceled'
                    });
                });
            }
        }
    }
</script>

<template>
    <div class="">
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>PRICE PER ITEM</th>
                    <th>DESCRIPTION</th>
                    <th class="table-right">ACTIONS</th>
                </tr>
            </thead>

            <tbody>
                <tr
                    v-for="product in products"
                    :key="product.id">

                    <td>{{ product.name }}</td>
                    <td>{{ product.amount | currency }}</td>
                    <td>{{ product.description }}</td>
                    <td class="table-right">
                        <div class="btn-group" role="group" aria-label="First group">
                            <button type="button" class="btn btn-primary btn-sm" @click="show(product.id)">
                                <i class="el-icon-view"></i>
                            </button>

                            <button type="button" class="btn btn-outline-success btn-sm" @click="edit(product.id)">
                                <i class="el-icon-edit-outline"></i>
                            </button>
                            
                            <button type="button" class="btn btn-danger btn-sm" @click="deleteProduct(product.id)">
                                <i class="el-icon-delete-solid"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <el-dialog
                title="CREATE/EDIT PRODUCT!"
                :visible.sync="productModal"
                width="25%"
                :show-close="false"
        >
            <span>
                <product-form/>
            </span>
        </el-dialog>
    </div>
</template>
