<script>
    import { mapGetters } from 'vuex';
    import { Message } from 'element-ui';

    export default {

        data() {
            return {
                form: {},
                items: []
            }
        },

        computed: {
            ...mapGetters({
                submittingOrder: 'submittingOrder',
                allProducts: 'allProducts'
            })
        },

        methods: {

            submit() {

                this.$store.commit('SUBMIT_ORDER', {
                    order_id: this.$route.params.id ? this.$route.params.id : null,
                    items: this.items
                });
            },

            addItem() {

                let product = this.allProducts.filter(product => product.id === this.form.product_id)[0];

                if(!product) {
                    Message.warning({ message: 'Product not found!' });
                    return;
                }

                product.quantity = this.form.quantity;
                product.product_id = this.form.product_id;

                let index = this.items.indexOf(product);

                if (index !== -1) {
                    Message.warning({ message: 'Product already added, delete and re-add to update!'});
                    return;
                }

                this.items.push(product);

                this.form = {};
            },

            removeItem(item) {

                let index = this.items.indexOf(item);

                if (index !== -1) {
                    this.items.splice(index, 1);
                }
            },

            closeModal() {
                this.$store.commit('ORDER_MODAL', false);
            }
        }
    }
</script>

<template>
    <div class="">

        <table class="table table-hover table-striped table-bordered" v-if="items.length">

            <thead>
            <tr>
                <th>PRODUCT</th>
                <th>QUANTITY</th>
                <th class="table-right">ACTION</th>
            </tr>
            </thead>

            <tbody>
            <tr
                    v-for="item in items"
                    :key="item.name">

                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td class="table-right">
                    <div class="btn-group" role="group" aria-label="First group">
                        <button type="button" class="btn btn-danger btn-sm" @click="removeItem(item)">
                            <i class="el-icon-delete-solid"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <br>

        <div class="form-group">
            <label for="">Select Product</label>
            <el-select v-model="form.product_id" filterable placeholder="Select product" style="width: 100%">
                <el-option
                        v-for="product in allProducts"
                        :key="product.id"
                        :label="product.name"
                        :value="product.id">
                </el-option>
            </el-select>
        </div>

        <div class="form-group">
            <label for="">Quantity</label>
            <input type="email" class="form-control" v-model="form.quantity" placeholder="Enter quantity">
        </div>

        <br>

        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-sm" @click="addItem">
                    <i class="el-icon-plus"></i>
                    Add
                </button>
            </div>
        </div>

        <hr>

        <div class="row">

            <div class="col-md-5">
                <button type="submit" class="btn btn-success btn-sm" @click="submit">
                    <i class="el-icon-loading" v-if="submittingOrder"></i>
                    Complete and Submit
                </button>
            </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-info btn-sm" @click="closeModal">Cancel</button>
            </div>
        </div>
    </div>
</template>
