<script>
    import { mapGetters } from 'vuex';
    import OrdersTable from './table';
    import OrdersForm from './create';

    export default {
        components: {
            OrdersTable,
            OrdersForm
        },

        computed: {
            ...mapGetters({
                orders: 'orders',
                orderModal: 'orderModal'
            })
        },

        methods: {
            createOrder() {
                this.$store.commit('ORDER_MODAL', true);
            }
        },

        mounted() {
            this.$store.commit('FETCH_ORDERS');

            this.$store.commit('ALL_PRODUCTS');
        }
    }
</script>

<template>
    <div class="">

        <div class="page-header">

            <div class="page-header__left">
                <p>ORDERS</p>
            </div>

            <div class="page-header__right">
                <el-button type="success" @click="createOrder"> <i class="el-icon-plus"></i> NEW ORDER</el-button>
            </div>

        </div>

        <br>

        <div class="">
            <orders-table/>
        </div>

        <el-dialog
                title="CREATE ORDER!"
                :visible.sync="orderModal"
                width="30%"
                :show-close="false"
        >
            <span>
                <orders-form/>
            </span>
        </el-dialog>

    </div>
</template>

<style lang="scss">
    .page-header {
        display: flex;
        width: 100%;

        &__left {
            width: 50%;
            font-weight: bolder;
            font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
        }

        &__right {
            width: 50%;
            text-align: right;
        }
    }
</style>
