<script>
    import OrderController from './controller';

    export default {
        mixins: [OrderController]
    }
</script>

<template>
    <div class="">

        <div class="page-header">

            <div class="page-header__left">
                <p>ORDER DETAILS</p>
            </div>

            <div class="page-header__right">
                <router-link
                        :to="{ name: 'orders.index'}"
                        class="btn btn-outline-primary btn-sm"
                >
                    <i class="el-icon-back"></i>
                    GO BACK
                </router-link>
            </div>

        </div>

        <br>

        <div class="row">

            <div class="col-md-12">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>DATE:</th>
                        <td>{{ order.date }}</td>
                        <th>HEADQUARTER:</th>
                        <td>{{ order.headquarter }}</td>
                    </tr>

                    <tr>
                        <th>BRANCH:</th>
                        <td>{{ order.branch }}</td>
                        <th>NO OF ITEMS:</th>
                        <td>{{ order.items }}</td>
                    </tr>

                    <tr>
                        <th>VALUE OF ITEMS:</th>
                        <td>{{ order.value | currency }}</td>
                        <th></th>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-12">

                <br>
                <br>
                <div class="page-header">

                    <div class="page-header__left">
                        <p>ORDERED ITEMS</p>
                    </div>

                    <div class="page-header__right">
                        <el-button type="success" @click="addItem"> <i class="el-icon-plus"></i> ADD ITEM</el-button>
                    </div>

                </div>

                <br>

                <el-table
                        ref="multipleTable"
                        :data="order.order_details"
                        border
                        style="width: 100%"
                        :row-class-name="tableRowClassName"
                        @selection-change="handleSelectionChange">
                    <el-table-column
                            type="selection">
                    </el-table-column>

                    <el-table-column
                            property="product"
                            label="PRODUCT">
                    </el-table-column>

                    <el-table-column
                            property="number"
                            label="QUANTITY"
                            width="100">
                    </el-table-column>

                    <el-table-column
                            property="delivered"
                            label="DELIVERED"
                            width="120">
                    </el-table-column>

                    <el-table-column
                            property="balance"
                            label="BALANCE"
                            width="100">
                    </el-table-column>

                    <el-table-column
                            label="PRICE">

                        <template slot-scope="scope">{{ scope.row.value_per_item | currency }}</template>
                    </el-table-column>

                    <el-table-column
                            label="TOTAL VALUE">

                        <template slot-scope="scope">{{ scope.row.value | currency }}</template>
                    </el-table-column>

                    <el-table-column
                            label="ACTION">

                        <template slot-scope="scope">
                            <el-button-group v-if="scope.row.balance > 0">
                                <el-button
                                        type="primary"
                                        size="small"
                                        @click="deliver(scope.row)">
                                    DELIVER
                                </el-button>

                                <el-button
                                        type=""
                                        size="small"
                                        @click="editItem(scope.row)">
                                    <i class="el-icon-edit-outline"></i>
                                </el-button>

                                <el-button
                                        type="danger"
                                        size="small"
                                        @click="removeItem(scope.row.id)">
                                    <i class="el-icon-delete"></i>
                                </el-button>
                            </el-button-group>
                            <el-tag type="success" v-else>Delivered</el-tag>
                        </template>
                    </el-table-column>

                </el-table>

                <br>

                <p><b>NOTE</b>: To mark items as delivered, select delivered items from the table above and mark as delivered.</p>

                <div style="margin-top: 20px">
                    <el-button @click="toggleSelection()" size="small">Clear selection</el-button>

                    <el-button type="success" @click="markAsDelivered()" size="small">
                        <i class="el-icon-loading" v-if="savingDelivery"></i>
                        Mark as delivered
                    </el-button>
                </div>
            </div>

            <el-dialog
                title="CREATE/EDIT ORDER!"
                :visible.sync="orderModal"
                width="30%"
                :show-close="false"
                >
                <span>
                    <order-form/>
                </span>
            </el-dialog>

            <el-dialog
                    title="MARK AS DELIVERY!"
                    :visible.sync="mark_delivery"
                    width="25%"
            >
                <span>

                    <label for="">Specify quantity to be delivered.</label>

                    <div class="">
                        <el-input v-model="form.balance"></el-input>
                    </div>

                    <br>

                    <div class="">
                        <el-button @click="addDelivery" type="primary">
                            <i class="el-icon-loading" v-if="savingDelivery"></i>
                            DELIVER
                        </el-button>
                    </div>
                </span>
            </el-dialog>

            <el-dialog
                    title="EDIT ORDER ITEM!"
                    :visible.sync="editModal"
                    width="25%"
            >
            <span>
                <div class="form-group">
                    <label for="">Select Product</label>
                    <el-select v-model="editForm.product_id" filterable placeholder="Select product" style="width: 100%">
                        <el-option
                                v-for="product in allProducts"
                                :key="product.id"
                                :label="product.name"
                                :value="product.id">
                        </el-option>
                    </el-select>
                </div>

                <div class="form-group">
                    <label for="">Quantity</label>
                    <input type="email" class="form-control" v-model="editForm.quantity" placeholder="Enter quantity">
                </div>

                <br>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-sm" @click="submitEdit">
                            <i class="el-icon-loading" v-if="detailUpdating"></i>
                            Update
                        </button>
                    </div>
                </div>
            </span>
            </el-dialog>
        </div>
    </div>
</template>

<style>
    .supplier-details {
        width: 90%;
    }

    .el-table .warning-row {
        background: oldlace;
    }

    .el-table .success-row {
        background: #f0f9eb;
    }
</style>
