<script>
    import { mapGetters } from 'vuex';
    import * as service from '../../services/Orders';
    import { Message } from 'element-ui';

    export default {
        computed: {
            ...mapGetters({
                orders: 'orders',
                fetchingOrders: 'fetchingOrders'
            })
        },

        methods: {

            show(id) {
                this.$router.push({ name: 'orders.show', params: { id: id } });
            },

            deleteOrder(id) {
                this.$confirm('This will permanently delete the order. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {

                    service.deleteOrder(id)
                        .then( () => {
                            Message.success({ message: 'Order deleted successfully!'});
                            this.$store.commit('FETCH_ORDERS');
                        })

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Delete canceled'
                    });
                });
            }
        }
    }
</script>

<template>
    <div class="">
        <table class="table table-hover table-striped table-bordered">

            <thead>
                <tr>
                    <th>DATE</th>
                    <th>HEADQUARTER</th>
                    <th>BRANCH</th>
                    <th>ITEMS</th>
                    <th>TOTAL ORDER VALUE</th>
                    <th class="table-right">ACTION</th>
                </tr>
            </thead>

            <tbody>
                <tr
                    v-for="order in orders"
                    :key="order.id">

                    <td>{{ order.date }}</td>
                    <td>{{ order.headquarter }}</td>
                    <td>{{ order.branch }}</td>
                    <td>{{ order.items }}</td>
                    <td>{{ order.value | currency }}</td>
                    <td class="table-right">
                        <div class="btn-group" role="group" aria-label="First group">
                            <button type="button" class="btn btn-primary btn-sm" @click="show(order.id)">
                                <i class="el-icon-view"></i>
                            </button>

                            <button type="button" class="btn btn-danger btn-sm" @click="deleteOrder(order.id)">
                                <i class="el-icon-delete-solid"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
