<script>
    import { mapGetters } from 'vuex';

    export default {
        data() {
            return {
                form: {}
            }
        },

        computed: {
            ...mapGetters({
                selected_supplier: 'selected_supplier',
                submittingSupplier: 'submittingSupplier'
            })
        },

        watch: {
            selected_supplier: {
                handler: 'setForm',
                immediate: true
            }
        },

        methods: {
            submit() {
                this.$store.commit('SUBMIT_SUPPLIER', this.form);
            },

            setForm() {
                this.form = this.selected_supplier;
            },

            closeModal() {
                this.$store.commit('SUPPLIER_MODAL', false);
            }
        }
    }
</script>

<template>
    <div class="">
        <div class="form-group">
            <label for="">Full name</label>
            <input type="email" class="form-control" v-model="form.name" placeholder="Enter full name">
        </div>

        <div class="form-group">
            <label for="">Phone Number</label>
            <input type="text" class="form-control" v-model="form.phone" placeholder="Enter phone number">
        </div>

        <div class="form-group">
            <label for="">Email Address</label>
            <input type="email" class="form-control" v-model="form.email" placeholder="Enter email address">
        </div>

        <div class="form-group">
            <label for="">Address</label>
            <input type="text" class="form-control" v-model="form.address" placeholder="Enter email">
        </div>

        <br>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" @click="submit">
                    <i class="el-icon-loading" v-if="submittingSupplier"></i>
                    Submit
                </button>
            </div>

            <div class="col-md-3">
                <button type="submit" class="btn btn-info" @click="closeModal">Cancel</button>
            </div>
        </div>
    </div>
</template>
