<script>
    import { mapGetters } from 'vuex';
    import SupplierTable from './table';
    import SupplierForm from './create';

    export default {
        components: {
            SupplierTable,
            SupplierForm
        },

        computed: {
            ...mapGetters({
                supplierModal: 'supplierModal'
            })
        },

        methods: {
            createSupplier() {
                this.$store.commit('SUPPLIER_MODAL', true);
            }
        },

        mounted() {
            this.$store.commit('FETCH_SUPPLIERS');
        }
    }
</script>

<template>
    <div class="">
        <div class="page-header">

            <div class="page-header__left">
                <p>SUPPLIERS</p>
            </div>

            <div class="page-header__right">
                <el-button type="success" @click="createSupplier"> <i class="el-icon-plus"></i> NEW SUPPLIER</el-button>
            </div>

        </div>

        <br>

        <div class="">
            <supplier-table/>
        </div>

        <el-dialog
                title="CREATE/EDIT SUPPLIER!"
                :visible.sync="supplierModal"
                width="25%"
                :show-close="false"
        >
            <span>
                <supplier-form/>
            </span>
        </el-dialog>
    </div>
</template>

<style lang="scss">
    .page-header {
        display: flex;
        width: 100%;

        &__left {
            width: 50%;
            font-weight: bolder;
            font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
        }

        &__right {
            width: 50%;
            text-align: right;
        }
    }
</style>
