<script>
    import { mapGetters } from 'vuex';
    import ProductForm from '../products/create';

    export default {

        components: {
            ProductForm
        },

        computed: {
            ...mapGetters({
                supplier: 'supplier',
                productModal: 'productModal'
            })
        },

        methods: {
            createProduct() {
                this.$store.commit('SET_SELECTED_PRODUCT', null);
                this.$store.commit('PRODUCT_MODAL', true);
            }
        },

        mounted() {
            this.$store.commit('FETCH_SUPPLIER_DETAILS', this.$route.params.id);
        }
    }
</script>

<template>
    <div class="">

        <div class="row">

            <div class="col-md-5">

                <div class="supplier-details">
                    <div class="page-header">

                        <div class="page-header__left">
                            <p>SUPPLIER DETAILS</p>
                        </div>

                        <div class="page-header__right">
                            <router-link :to="{ name: 'suppliers.index'}" class="btn btn-outline-primary btn-sm"> <i class="el-icon-back"></i> GO BACK</router-link>
                        </div>

                    </div>

                    <br>

                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Name:</th>
                            <td>{{ supplier.name }}</td>
                        </tr>

                        <tr>
                            <th>Phone:</th>
                            <td>{{ supplier.phone }}</td>
                        </tr>

                        <tr>
                            <th>Email:</th>
                            <td>{{ supplier.email }}</td>
                        </tr>

                        <tr>
                            <th>Address:</th>
                            <td>{{ supplier.address }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-7">

                <div class="page-header">

                    <div class="page-header__left">
                        <p>SUPPLIER PRODUCTS</p>
                    </div>

                    <div class="page-header__right">
                        <el-button type="success" @click="createProduct"> <i class="el-icon-plus"></i> NEW PRODUCT</el-button>
                    </div>

                </div>

                <br>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>PRICE PER ITEM</th>
                            <th>Description</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="product in supplier.products" :key="product.id">
                            <td>{{ product.name }}</td>
                            <td>{{ product.amount | currency }}</td>
                            <td>{{ product.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <el-dialog
                    title="CREATE/EDIT PRODUCT!"
                    :visible.sync="productModal"
                    width="25%"
                    :show-close="false"
            >
            <span>
                <product-form/>
            </span>
            </el-dialog>
        </div>
    </div>
</template>

<style>
    .supplier-details {
        width: 90%;
    }
</style>
