<script>
    import { mapGetters } from 'vuex';
    import * as service from '../../services/Suppliers';
    import { Message } from 'element-ui';

    export default {
        computed: {
            ...mapGetters({
                suppliers: 'suppliers',
                fetchingSuppliers: 'fetchingSuppliers'
            })
        },

        methods: {
            show(id) {
                this.$router.push({ name: 'suppliers.show', params: { id: id } });
            },

            edit(id) {

                this.$store.commit('SET_SELECTED_SUPPLIER', id);

                this.$store.commit('SUPPLIER_MODAL', true);
            },

            deleteSupplier(id) {
                this.$confirm('This will permanently delete the supplier. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {

                    service.deleteSupplier(id)
                        .then( () => {
                            Message.success({ message: 'Supplier deleted successfully!'});
                            this.$store.commit('FETCH_SUPPLIERS');
                        })

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Delete canceled'
                    });
                });
            }
        }
    }
</script>

<template>
    <div class="">
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>PHONE</th>
                    <th>EMAIL</th>
                    <th>ADDRESS</th>
                    <th class="table-right">ACTIONS</th>
                </tr>
            </thead>

            <tbody>
                <tr
                    v-for="supplier in suppliers"
                    :key="supplier.id">

                    <td>{{ supplier.name }}</td>
                    <td>{{ supplier.phone }}</td>
                    <td>{{ supplier.email }}</td>
                    <td>{{ supplier.address }}</td>
                    <td class="table-right">
                        <div class="btn-group" role="group" aria-label="First group">
                            <button type="button" class="btn btn-primary btn-sm" @click="show(supplier.id)">
                                <i class="el-icon-view"></i>
                            </button>

                            <button type="button" class="btn btn-outline-success btn-sm" @click="edit(supplier.id)">
                                <i class="el-icon-edit-outline"></i>
                            </button>
                            
                            <button type="button" class="btn btn-danger btn-sm" @click="deleteSupplier(supplier.id)">
                                <i class="el-icon-delete-solid"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
