<script>
    import NavSection from './nav/index';

    export default {
        components: {
            NavSection
        }
    }
</script>

<template>
    <div class="">

        <nav-section/>

        <br>
        <br>

        <div class="container-x">
            <router-view/>
        </div>
    </div>
</template>

<style>

  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

  body, html {
      margin: 0 auto;
  }

  body {
      font-family: 'Montserrat';
      font-size: 18px;
      background-color: #ebeef5 !important;
  }

  a {
    text-decoration: none;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;
  }

  .container-x {
      max-width: 1370px !important;
      margin: 0 auto;
      background-color: #fff;
      padding: 40px;
  }

  @media (min-width: 1200px) {
      .container {
          max-width: 1400px !important;
      }
  }

    th {
        font-size: 14px;
    }

    td {
        font-size: 14px;
        font-family: Helvetica
    }

    .table-right {
        text-align: right;
    }
</style>
