<script>
    import DeliveryTable from './table';

    export default {
        components: {
            DeliveryTable,
        },

        mounted() {
            this.$store.commit('FETCH_DELIVERIES');
        }
    }
</script>

<template>
    <div class="">
        <div class="page-header">

            <div class="page-header__left">
                <p>DELIVERIES</p>
            </div>

            <div class="page-header__right">

            </div>

        </div>

        <br>

        <div class="">
            <delivery-table/>
        </div>

    </div>
</template>
