<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters({
                deliveries: 'deliveries',
                fetchingDeliveries: 'fetchingDeliveries'
            })
        }
    }
</script>

<template>
    <div class="">
        <el-table
                :data="deliveries"
                border
                style="width: 100%">

            <el-table-column type="expand">
                <template slot-scope="props">

                    <h6>DELIVERY DETAILS</h6>
                    <br>
                    <el-table
                            :data="props.row.deliveries"
                            border
                            style="width: 100%">

                        <el-table-column
                                label="DATE"
                                prop="date">
                        </el-table-column>

                        <el-table-column
                                label="PRODUCT"
                                prop="product">
                        </el-table-column>

                        <el-table-column
                                label="QUANTITY"
                                prop="quantity">
                        </el-table-column>

                        <el-table-column
                                label="VALUE"
                                prop="value">
                        </el-table-column>

                    </el-table>
                </template>
            </el-table-column>

            <el-table-column
                    label="DATE"
                    prop="date">
            </el-table-column>

            <el-table-column
                    label="ORDER DATE"
                    prop="order_date">
            </el-table-column>

            <el-table-column
                    label="SUPPLIER"
                    prop="supplier">
            </el-table-column>

            <el-table-column
                    label="ITEMS"
                    prop="items">
            </el-table-column>

            <el-table-column
                    label="TOTAL VALUE">

                <template slot-scope="scope">{{ scope.row.value | currency }}</template>
            </el-table-column>

        </el-table>
    </div>
</template>
