<template>
    <div id="app">
      <index-page/>
    </div>
</template>

<script>

    import IndexPage from './components/index.vue'

    export default {
        components: {
            IndexPage
        }
    }
</script>
