<script>
    export default {}
</script>

<template>
    <header>
        <div class="container">
            <a href="/" class="logo">ORDERS MANAGEMENT</a>
            <nav>
                <ul>
                    <li><router-link :to="{ name: 'home.index'}">Orders</router-link></li>
                    <li><router-link :to="{ name: 'deliveries.index'}">Deliveries</router-link></li>
                    <li><router-link :to="{ name: 'suppliers.index'}">Suppliers</router-link></li>
                    <li><router-link :to="{ name: 'products.index'}">Products</router-link></li>
                </ul>
            </nav>
        </div>
    </header>
</template>

<style lang="scss">

    header {
        background: #fff;
        border-bottom: 1px solid #eef;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);

        .logo {
            font-weight: bold;
        }

        a {
            text-decoration: none;
            color: #606266;
        }

        a:hover {
            text-decoration: none;
        }

        nav {
            justify-self: right;

            ul {
                list-style-type: none;
                margin: 0; padding: 0;

                li {
                    float: left;

                    a {
                        padding: 1.5em;
                        text-transform: uppercase;
                        font-size: 16px;
                        color: #606266;

                        &:hover {
                            color: fuchsia;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
</style>
